.card1::before {
  background: linear-gradient(to top,
      hsl(0 0% 0% / 0.79) 0%,
      hsl(0 0% 0% / 0.787) 7.8%,
      hsl(0 0% 0% / 0.779) 14.4%,
      hsl(0 0% 0% / 0.765) 20.2%,
      hsl(0 0% 0% / 0.744) 25.3%,
      hsl(0 0% 0% / 0.717) 29.9%,
      hsl(0 0% 0% / 0.683) 34.3%,
      hsl(0 0% 0% / 0.641) 38.7%,
      hsl(0 0% 0% / 0.592) 43.3%,
      hsl(0 0% 0% / 0.534) 48.4%,
      hsl(0 0% 0% / 0.468) 54.1%,
      hsl(0 0% 0% / 0.393) 60.6%,
      hsl(0 0% 0% / 0.31) 68.3%,
      hsl(0 0% 0% / 0.216) 77.3%,
      hsl(0 0% 0% / 0.113) 87.7%,
      hsl(0 0% 0% / 0) 100%);
  transition: 1000ms opacity linear;
}

.card1::after {
  background: linear-gradient(45deg,
      hsl(5 97% 63% / 0.7) 0,
      hsl(5 97% 63% / 0) 100%);
  opacity: 0;
  transition: 2000ms opacity linear;
}

.card1>* {
  z-index: 1;
}

.card1 p {
  transform: translateY(2ex);
}

.card1:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.card1:hover p {
  opacity: 1;
  transition-delay: 100ms;
}

.card1:hover {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
  opacity: 1;
  transition-delay: 2000ms;
}

.modal-show {
  background-color: rgba(0, 0, 0, 0.612);
  width: 100vw;
  height: 100vmax;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}